// Colors
$color-primary-blue: #4f7df3;
$color-secondary-blue: #c2d3ff;
$color-secondary-red: #ff5263;
$color-gray: #969696;
$color-blue-dark: #151f29;

// Media
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 650px) {
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  background-color: white;
}

.container {
  display: grid;
  place-content: center;
  justify-items: center;
  margin: 9.2rem auto;
  max-width: 64rem;

  @include respond(phone) {
    max-width: 32rem;
  }
}

.hero {
  max-width: 64rem;
  margin-bottom: 7.2rem;

  @include respond(phone) {
    max-width: 32rem;
    margin-bottom: 12rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
